<div class="row">
  <div class="col-4 p-1"></div>
  <div class="col-4 p-1"></div>
  <div class="col-4 p-1 btn-group">
    <button class="btn btn-outline active btn-propio-rl" (click)="onShowHideRegistrar()">Registrar</button>
    <button class="btn btn-outline active btn-propio-rl" (click)="onShowHideLogin()">Login</button>
  </div>
  <div class="col-4 p-1"></div>
</div>
<div *ngIf = "mostrarRegistrar === true"><app-registro></app-registro></div>
<div *ngIf = "mostrarLogin === true"><app-login></app-login></div>