<div class="row">
  <br>
</div>
<div class="row">
  <div class="col-4 "></div>
  <div class="col-4 inicio-registro">
    <form (ngSubmit)="onCreateProduct()">
      <div class="form-group">
        <h1 class="inicio-registro titulo-inicio-registro">Agregar Producto</h1>
        <label for="text">Imagen:</label>
        <input type="file" (change)="uploadFile($event)" [(ngModel)]="product.name_img" name="img">
        <div class="progress">
          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent | async) + '%'" [attr.aria-valuenow]="(uploadPercent | async)" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
        <div class="alert alert-success" role="alert">
          File uploaded: <a [href]="downloadURL" id="myimg">{{downloadURL}}</a>
        </div>
      </div>
      <div class="form-group">
        <label for="text">Nombre:</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingrese nombre del producto aqui" name="nombre"
          [(ngModel)]="product.name">
      </div>
      <div class="form-group">
        <label for="text">Tipo de plato:</label>
        <select type="text" class="form-control" id="tipo" [(ngModel)]="product.plato" name="tipo">
          <option selected>Principal</option>
          <option>Acompañante</option>
        </select>
      </div>
      <div class="form-group">
        <label for="text">Precio en Bs.:</label>
        <input type="number" value="" class="form-control" min="0" id="precio" placeholder="Indique el precio" name="precio"
          [(ngModel)]="product.price">
      </div>
      <div class="form-group">
        <label for="text">Disponibilidad:</label>
        <select type="select" class="form-control" id="disponibilidad" [(ngModel)]="product.available" name="available">
          <option selected>Disponible</option>
          <option>No Disponible</option>
        </select>
      </div>
      <div class="row">
        <div class="col-6">
          <input type="submit" value="Agregar" class="btn btn-secondary">
        </div>
      </div>
      <br>
      <div class="form-group caja-mensaje alert alert-success row" *ngIf="agregado === true">
        <strong class="col-8">¡Operación realizada con éxito!</strong>
        <a class="col-4" routerLink="/home-admin">
          <button type="button" class="btn btn-success">Finalizar</button>
        </a>
      </div>
      <div class="form-group caja-mensaje alert alert-warning row" *ngIf="faltanDatos === true">
        <strong class="col-8">¡Faltan por rellenar algunos campos!</strong>
      </div>
    </form>
  </div>
  <div class="col-4"></div>
</div>