<div class="container-fluid">

  <div class="row">
    <div class="col-12 titulo">
      Menú de platos
    </div>
  </div>

  <div class="separador"></div>

  <div class="row container-imagenes">
    <div class="col-4">
      <div class="kebab-garbanzos">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Kebab de Garbanzos</div>
      </div>
    </div>

    <div class="col-4">
      <div class="filetes-coliflor-lentejas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Filetes de Coliflor con Lentejas</div>
      </div>
    </div>

    <div class="col-4">
      <div class="berenjenas-rellenas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Berenjenas Rellenas</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>

  <div class="row container-imagenes">
    <div class="col-6">
      <div class="hamburguesa-lentejas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Hamburguesa de Lentejas</div>
      </div>
    </div>

    <div class="col-6">
      <div class="pizza-vegana-gluten-free">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Pizza Vegana y Libre de Gluten</div>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="assets/lasana-de-quinoa-vegana.jpg" class="rounded img-fluid" alt="Lasaña de Quinoa">
      <h2>Lasaña de Quinoa</h2>
    </div>
    <div class="col-3">
      <img src="assets/ratatouille.jpg" class="rounded img-fluid" alt="Ratatouille">
      <h2>Ratatouille</h2>
    </div>
    <div class="col-3">
      <img src="assets/nuggets-vegetarianos.jpg" class="rounded img-fluid" alt="Nuggets Vegetarianos">
      <h2>Nuggets Vegetarianos</h2>
    </div>
    <div class="col-3">
      <img src="assets/ensalada-garbanzos.jpg" class="rounded img-fluid" alt="Ensalada de Garbanzos">
      <h2>Ensalada de Garbanzos</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="assets/pudding-chocolate.jpg" class="rounded img-fluid" alt="Pudding de Chocolate">
      <h2>Pudding de Chocolate</h2>
    </div>
    <div class="col-4">
      <img src="assets/garbanzos-espinacas.jpg" class="rounded img-fluid" alt="Garbanzos con Espinacas">
      <h2>Garbanzos con Espinacas</h2>
    </div>
    <div class="col-4">
      <img src="assets/coliflor-sesamo.jpg" class="rounded img-fluid" alt="Coliflor con Sésamo">
      <h2>Coliflor con Sésamo</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
</div>