<div class="container-fluid">

  <div class="row">
    <div class="col-12 titulo">
      Menú de platos
    </div>
  </div>

  <div class="separador"></div>

  <div class="row container-imagenes">
    <div class="col-4">
      <div class="kebab-garbanzos">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Kebab de Garbanzos</div>
      </div>
    </div>

    <div class="col-4">
      <div class="filetes-coliflor-lentejas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Filetes de Coliflor con Lentejas</div>
      </div>
    </div>

    <div class="col-4">
      <div class="berenjenas-rellenas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Berenjenas Rellenas</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>

  <div class="row container-imagenes">
    <div class="col-6">
      <div class="hamburguesa-lentejas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Hamburguesa de Lentejas</div>
      </div>
    </div>

    <div class="col-6">
      <div class="pizza-vegana-gluten-free">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Pizza Vegana y Libre de Gluten</div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>

  <div class="row container-imagenes">
    <div class="col-3">
      <div class="lasana-de-quinoa-vegana">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Lasaña de Quinoa Vegana</div>
      </div>
    </div>

    <div class="col-3">
      <div class="ratatouille">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Ratatouille</div>
      </div>
    </div>

    <div class="col-3">
      <div class="nuggets-vegetarianos">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Nuggets Vegetarianos</div>
      </div>
    </div>

    <div class="col-3">
      <div class="ensalada-garbanzos">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Ensalada de Garbanzos</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>

  <div class="row  container-imagenes">

    <div class="col-4">
      <div class="pudding-chocolate">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Pudding de Chocolate</div>
      </div>
    </div>

    <div class="col-4">
      <div class="garbanzos-espinacas">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Garbanzos con Espinacas</div>
      </div>
    </div>

    <div class="col-4">
      <div class="coliflor-sesamo">
        <div class="agregar-plato"><button class="btn btn-primary">+</button></div>
        <div class="nombre-plato">Coliflor con Sésamo</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
</div>