.titulo {
    text-align: center;
    font-style: italic;
    font-size: 200%;
    color: darkslategray;
    width: 100%;
}
.container-imagenes{
    height: 15rem;
}
.kebab-garbanzos{
    background-image: url('src/assets/kebab-de-garbanzos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    font-size: 120%;
    font-style: italic;
}
.filetes-coliflor-lentejas{
    background-image: url('src/assets/filetes-coliflor-lentejas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    font-size: 120%;
    font-style: italic;
}
.berenjenas-rellenas{
    background-image: url('src/assets/berenjenas-rellenas.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    font-size: 120%;
    font-style: italic;
}
.agregar-plato{
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    padding: 0;
}
.nombre-plato{
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    word-wrap: break-word;
    word-break: break-all;
}