.principal-header {
    text-align: center;
    font-style: italic;
    font-size: 200%;
    color: darkslategray;
    width: 100%;
}
.container-imagenes{
    height: 100%;
    width: 100%;
    margin-left: 0.18rem;
}
.container-imagen{
    height: 18rem;
    margin: 0;
}
.container-imagen1{
    margin: 0;
}
.thumbnail{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    color: white;
    font-size: 120%;
    font-style: italic;
}
.agregar-plato{
    z-index: 1;
    bottom: 0;
    position: absolute;
    padding: 0;
    background-image: url('/src/assets/agregar-orden.jpg');
    background-size: cover;
    width: 3rem;
    height: 3rem;
    border-radius: 5%;
}
.nombre-plato{
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    word-wrap: break-word;
    word-break: break-all;
}
