<div class="row">
  <div class="col-6">
    <h5 class="sub">Productos añadidos a la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre del plato</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let productoComprar of productosComprar">
          <td>{{productoComprar.name}}</td>
          <td>{{productoComprar.price}} Bs.</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h5 class="sub">Costo de la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Descripción</th>
          <th>Monto</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <td>{{subtotal}} Bs.</td>
        </tr>
        <tr>
          <td>Iva (16%):</td>
          <td>{{iva}} Bs.</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>{{total}} Bs.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row box-btn">
  <div class="col-4">
    <form (ngSubmit)="initConfig()" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="FR82DLEJ7TDZJ">
      <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit"
        alt="PayPal - The safer, easier way to pay online!">
    </form>
    <button type="button" class="btn btn-danger" (click)="onPay()" routerLink="/compras">Pagar</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-dark" routerLink="/orden">Volver a orden</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-danger" routerLink="/home">Cancelar operación</button>
  </div>
</div>