<div class="row">
  <div class="col-6">
    <h5 class="sub">Productos añadidos a la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre del plato</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let productoComprar of productosComprar">
          <td>{{productoComprar.name}}</td>
          <td>{{productoComprar.price}} Bs.</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h5 class="sub">Costo de la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Descripción</th>
          <th>Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <td>{{subtotal}} Bs.</td>
        </tr>
        <tr>
          <td>Iva (16%):</td>
          <td>{{iva}} Bs.</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>{{total}} Bs.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row box-btn">
  <div class="col-4">
    <button type="button" class="btn btn-success">Confirmar</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-dark" routerLink="/orden">Volver a orden</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-danger" routerLink="/home">Cancelar operación</button>
  </div>
</div>