<div class="row">
  <div class="col-6">
    <h5 class="sub">Productos añadidos a la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Nombre del plato</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Berenjenas rellenas</td>
          <td>1500 Bs.</td>
        </tr>
        <tr>
          <td>Calabacines rellenos</td>
          <td>800 Bs.</td>
        </tr>
        <tr>
          <td>Coliflor Sesamo</td>
          <td>750 Bs.</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <h5 class="sub">Costo de la orden</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Descripción</th>
          <th>Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <td>3050 Bs.</td>
        </tr>
        <tr>
          <td>Iva (16%):</td>
          <td>488 Bs.</td>
        </tr>
        <tr>
          <td>Total:</td>
          <td>3538 Bs.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row box-btn">
  <div class="col-4">
    <button type="button" class="btn btn-success">Confirmar</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-dark" routerLink="/home/orden">Volver a orden</button>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-danger" routerLink="/home">Cancelar operación</button>
  </div>
</div>