<div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 cambio-clave">
    <form>
      <div class="form-group">
        <h1 class="cambio-clave titulo">Cambio de Clave</h1>
        <label for="pwd">Clave actual:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese la clave actual" name="pswa" required>
      </div>
      <div class="form-group">
        <label for="pwd">Nueva clave:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese la nueva clave" name="pswn" required>
      </div>
      <div class="form-group">
        <label for="pwd">Confirmación de nueva clave:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Reingrese la nueva clave" name="pswnc"
          required>
      </div>
      <button type="button" class="btn btn-primary btn-propio-rl" (click)="onCambiarClave()">Cambiar Clave</button>
      <div class="row">
        <div class="col-12">
          <div class="separador"></div>
        </div>
      </div>
      <div class="form-group caja-mensaje" *ngIf="cambioClave === true">
        <p>¡Operación realizada con éxito!</p>
        <a href="/home">
          <button type="button" class="btn btn-dark">Finalizar</button>
        </a>
      </div>
    </form>
  </div>
</div>