<div class="table-responsive table">
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Disponibilidad</th>
                <th class="editar">Editar</th>
                <th class="eliminar">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="img1"></div>
                </td>
                <td>Kebad de Garbanzos</td>
                <td>1000 Bs.</td>
                <td>Disponible</td>
                <td><button class="btn btn-warning" routerLink="/product-edit">Editar</button></td>
                <td><button class="btn btn-danger" routerLink="/home-admin">Eliminar</button></td>
            </tr>
            
        </tbody>
    </table>
</div>