
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 inicio-sesion">
    <form>
      <div class="form-group">
        <h1 class="inicio-sesion titulo-inicio-sesion">Inicio de Sesión</h1>
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email" required>
      </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Ingrese contraseña" name="pswd" required>
      </div>
      <div class="form-group form-check redondeo-checkbox">
        <label class="form-check-label">
          <input class="form-check-input redondeo-checkbox" type="checkbox" name="remember"> Recuérdame
        </label>
      </div>
      <button type="button" class="btn btn-outline active boton-inicio-sesion">Iniciar Sesión</button>
    </form>
    </div>
</div>