.navbar-propio{
    border-radius: 5rem;
    margin-top: 2rem;
}
.searcher{
    border-radius: 5rem;
    text-align: center;
}
.submit-searcher{
    border-radius: 5rem;
}
.mensaje{
    color: white;
    border-radius: 5rem;
}
.separador-espacio{
    width: 1rem;
}