<nav class="navbar navbar-expand-sm bg-dark navbar-dark navbar-propio">
  <form class="form-inline" action="/action_page.php">
    <div class="mensaje">Ingrese la palabra clave del producto que desea buscar (Nombre, Precio o Disponibilidad)</div>    
    <div class="separador-espacio"></div>
    <input class="form-control mr-sm-2 searcher" type="text" placeholder="Nombre, Precio ó Disponibilidad">
    <button class="btn btn-success submit-searcher" type="submit">Buscar</button>
  </form>
</nav>
