<div class="separador"></div>

<div class="row d-flex bg-dark text-white pt-5 jumbotron text-justify footer-propio">

  <div class="col-4 col-pos">
    <p><strong>Contacto</strong></p>
    <p>anthony.chacin@correo.unimet.edu.ve</p>
    <p>0416 711 37 55</p>
    <p>arantxa.garcia@correo.unimet.edu.ve</p>
    <p>0412 080 66 25</p>
  </div>

  <div class="col-4 col-pos">
    <p><strong>uMakeIT!</strong></p>
    <p>La mejor cadena de comida a tu alcance.</p>
    <p><strong>Categorías</strong></p>
    <p>Alimentos</p>
    <p>Servicio a domicilio</p>
  </div>

  <div class="col-4 col-pos">
    <p>Aplicación web realizada con fines educativos</p>
    <p>Universidad Metropolitana</p>
    <p>Caracas - Venezuela</p>
    <p>&copy; 2018 uMakeIT!. Todos los derechos reservados.</p>
  </div>
</div>