<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid container-propio">
  <div class="row">
    <div class="col-2 p-1 pl-0"><img width="200" alt="uMakeIT! Logo" src="assets/logo.bmp"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
    <div class="col-2"></div>
  </div>
</div>

<div></div>
<div></div>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

