<div class="jumbotron orden-propio">

  <div class="row contenido-fila-orden">
    <div class="col-7">
      <h4>Resumen de Orden</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <input class="col-1 elegir-comida" type="checkbox" name="comida1">
          Kebab de Garbanzos
          <button type="button" class="btn btn-success col-3 modificar"><p>Modificar</p></button>
        </li>
        <li class="list-group-item">
          <input class="col-1 elegir-comida" type="checkbox" name="comida2">
          Filetes de Coliflor con Lentejas
          <button type="button" class="btn btn-success col-3 modificar"><p>Modificar</p></button>
        </li>
        <li class="list-group-item">
          <input class="col-1 elegir-comida" type="checkbox" name="comida3">
          Berenjenas Rellenas
          <button type="button" class="btn btn-success col-3 modificar"><p>Modificar</p></button>
        </li>
        <li class="list-group-item">
          <input class="col-1 elegir-comida" type="checkbox" name="comida4">
          Hamburguesa de Lentejas
          <button type="button" class="btn btn-success col-3 modificar"><p>Modificar</p></button>
        </li>
        <li class="list-group-item"> 
          <input class="col-1 elegir-comida" type="checkbox" name="comida5">
          Ratatouille
          <button type="button" class="btn btn-success col-3 modificar"><p>Modificar</p></button>
        </li>
      </ul>
    </div>
    <div class="col-4">
      <p class="p-aviso">Seleccione las comidas que desea eliminar de la orden y luego presione "Eliminar Comida"</p>
      <button type="button" class="btn btn-warning agregar-comida"><p>Agregar Comida</p></button>
      <button type="button" class="btn btn-danger eliminar"><p>Eliminar Comida</p></button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-danger btn-cerrar-orden" routerLink="/home">Volver</button>
    </div>
  </div>
</div>