<br>
<div class="row inline-flex">
  <div class="col-12"><h3>Lista de platos en el pedido</h3></div>
</div>
<div class="table-responsive table">
    <h5 class="sub">Platos pertenecientes a la orden del cliente</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre del plato</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let order of orders">
        <td class="img1" [ngStyle]="{'background-image': 'url(' + order.url_img + ')'}"></td>
        <td>{{order.name}}</td>
        <td><button class="btn btn-warning" (click)='onShowProductCustomization(order.name)'>Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
      
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-12">
      <button type="button" class="btn btn-dark" routerLink="/finalize-order">Finalizar Pedido</button>
  </div>
</div>

