.table{
    height: 100%;
    width: 100%;
    background-color: #343a40;
    position: flex;
    margin-left: 0.25rem;
    margin-top: 1rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem; 
    text-align: center;
    align-content: center;
    overflow-x: hidden;
}
.sub{
    color: white;
}
h3{
    color: #343a40;
    text-align: left;
}
thead{
    background-color: #343a40;
    color: white;
    text-align: center;
}

tbody{
    background-color: white;
}

.img1{
    background-image: url('/src/assets/kebab-de-garbanzos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img2{
    background-image: url('/src/assets/berenjenas-rellenas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img3{
    background-image: url('/src/assets/hamburguesa-de-lentejas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img4{
    background-image: url('/src/assets/nuggets-vegetarianos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.img5{
    background-image: url('/src/assets/ensalada-garbanzos.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}