.table{
    height: 100%;
    width: 100%;
    background-color: #343a40;
    position: flex;
    margin-left: 0.25rem;
    margin-top: 1rem;
    margin-right: 0.25rem;
    border-radius: 0.25rem; 
    text-align: center;
    align-content: center;
    overflow-x: hidden;
}
.sub{
    color: white;
}
h3{
    color: #343a40;
    text-align: left;
}
thead{
    background-color: #343a40;
    color: white;
    text-align: center;
}

tbody{
    background-color: white;
}

.img1{
    background-size: cover;
    background-repeat: no-repeat;
}
