<br>
<div class="row inline-flex">
  <div class="col-12"><h3>Lista de platos en el pedido</h3></div>
</div>
<div class="table-responsive table">
    <h5 class="sub">Platos pertenecientes a la orden del cliente</h5>
  <table class="table">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre del plato</th>
        <th>Modificar</th>
        <th>Eliminar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="img1"></td>
        <td>Kebad de Garbanzos</td>
        <td><button class="btn btn-warning" routerLink="/product-customization">Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
      <tr>
        <td class="img2"></td>
        <td>Berenjenas Rellenas</td>
        <td><button class="btn btn-warning" routerLink="/product-customization">Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
      <tr>
        <td class="img3"></td>
        <td>Hamburguesas de Lenteja</td>
        <td><button class="btn btn-warning" routerLink="/product-customization">Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
      <tr>
        <td class="img4"></td>
        <td>Nuggets Vegetarianos</td>
        <td><button class="btn btn-warning" routerLink="/product-customization">Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
      <tr>
        <td class="img5"></td>
        <td>Ensalada de Garbanzos</td>
        <td><button class="btn btn-warning" routerLink="/product-customization">Editar plato</button></td>
        <td><button class="btn btn-danger">Eliminar plato</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col-12">
      <button type="button" class="btn btn-dark" routerLink="/finalize-order">Finalizar Pedido</button>
  </div>
</div>

