<div class="row">
    <div class="col-sm-4">
      <div class="card special-card">
        <div class="card-body">
          <h5 class="card-title">Pedido pendiente 1</h5>
          <ul class="list-group">
              <li class="list-group-item">
                <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                Kebab de Garbanzos
              </li>
              <li class="list-group-item">
                <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                Filetes de Coliflor con Lentejas
              </li>
              <li class="list-group-item">
                <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                Berenjenas Rellenas
              </li>
              <li class="list-group-item">
                <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                Hamburguesa de Lentejas
              </li>
              <li class="list-group-item"> 
                <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                Ratatouille
              </li>
            </ul>
            <br>
          <a href="#" class="btn btn-outline-secondary">Entregado</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="card special-card">
          <div class="card-body">
            <h5 class="card-title">Pedido pendiente 2</h5>
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                  Kebab de Garbanzos
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                  Filetes de Coliflor con Lentejas
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                  Berenjenas Rellenas
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                  Hamburguesa de Lentejas
                </li>
                <li class="list-group-item"> 
                  <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                  Ratatouille
                </li>
              </ul>
              <br>
            <a href="#" class="btn btn-outline-secondary">Entregado</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card special-card">
            <div class="card-body">
              <h5 class="card-title">Pedido pendiente 3</h5>
              <ul class="list-group">
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                    Kebab de Garbanzos
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                    Filetes de Coliflor con Lentejas
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                    Berenjenas Rellenas
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                    Hamburguesa de Lentejas
                  </li>
                  <li class="list-group-item"> 
                    <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                    Ratatouille
                  </li>
                </ul>
                <br>
              <a href="#" class="btn btn-outline-secondary">Entregado</a>
            </div>
          </div>
        </div>
  </div>
  <br>
  <div class="row">
      <div class="col-sm-4">
        <div class="card special-card">
          <div class="card-body">
            <h5 class="card-title">Pedido pendiente 4</h5>
            <ul class="list-group">
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                  Kebab de Garbanzos
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                  Filetes de Coliflor con Lentejas
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                  Berenjenas Rellenas
                </li>
                <li class="list-group-item">
                  <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                  Hamburguesa de Lentejas
                </li>
                <li class="list-group-item"> 
                  <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                  Ratatouille
                </li>
              </ul>
              <br>
            <a href="#" class="btn btn-outline-secondary">Entregado</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="card special-card">
            <div class="card-body">
              <h5 class="card-title">Pedido pendiente 5</h5>
              <ul class="list-group">
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                    Kebab de Garbanzos
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                    Filetes de Coliflor con Lentejas
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                    Berenjenas Rellenas
                  </li>
                  <li class="list-group-item">
                    <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                    Hamburguesa de Lentejas
                  </li>
                  <li class="list-group-item"> 
                    <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                    Ratatouille
                  </li>
                </ul>
                <br>
              <a href="#" class="btn btn-outline-secondary">Entregado</a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="card special-card">
              <div class="card-body">
                <h5 class="card-title">Pedido pendiente 6</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                      <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                      Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                      <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                      Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                      <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                      Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                      <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                      Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item"> 
                      <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                      Ratatouille
                    </li>
                  </ul>
                  <br>
                <a href="#" class="btn btn-outline-secondary">Entregado</a>
              </div>
            </div>
          </div>
    </div>