<div class="row">
    <div class="col-sm-4">
      <div class="card special-card"  *ngFor="let a of aux">
        <div class="card-body">
          <h5 class="card-title">Pedido pendiente 1</h5>
          <ul class="list-group">
              <li class="list-group-item">
                <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                {{aux}}
              </li>
          </ul>
            <br>
          <a href="#" class="btn btn-outline-secondary">Entregado</a>
        </div>
      </div>
    </div>  
  </div>