<br>
<br>

<div class="row box-img-plato-select" [ngStyle]="{'background-image': 'url(' + product.url_img + ')'}">
  <div class="col-12 container-plato-principal">
    <div class="nombre">{{product.name}}</div>
    <br>
    <br>
    <br>
    <form>
      <div class="form-group label-plato-principal col-12">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="1" max="100" step="1" value="1" />
      </div>
    </form>
  </div>
</div>

<br>
<br>
<div class="row container-propio">
  <div class="col-3 container1">
    <form>
      <div class="form-group">
        <label for="raciones">Raciones:</label>
        <select class="form-control" id="raciones">
          <option disabled>Seleccione</option>
          <option *ngFor="let racion of raciones">{{racion.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>

      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" routerLink="/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container2">
    <form>
      <div class="form-group">
        <label for="aderezos">Aderezos:</label>
        <select class="form-control" id="aderezos">
          <option disabled>Seleccione</option>
          <option *ngFor="let aderezo of aderezos">{{aderezo.data.name}}</option>
        </select>
      </div>

      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" routerLink="/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container3">
    <form>
      <div class="form-group">
        <label for="bebidas">Jugos:</label>
        <select class="form-control" id="jugos-naturales">
          <option disabled>Seleccione</option>
          <option *ngFor="let jugo of jugos">{{jugo.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" routerLink="/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3 container4">
    <form>
      <div class="form-group">
        <label for="bebidas">Postres:</label>
        <select class="form-control" id="postres">
          <option disabled>Seleccione</option>
          <option *ngFor="let postre of postres">{{postre.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" hrouterLink="/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="container-propio1">
  <div class="col-9"></div>
  <div clas="col-3;"></div>
</div>


<div class="separador"></div>
<div class="separador"></div>