<br>
<br>

<div class="row box-img-plato-select" [ngStyle]="{'background-image': 'url(' + product.url_img + ')'}">
  <div class="col-12 container-plato-principal">
    <div class="nombre">{{product.name}}</div>
    <br>
    <br>
    <br>
    <form>
      <div class="form-group label-plato-principal col-12">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="1" max="100" step="1" value="1" [(ngModel)]="plate.cant" name="cant" />
      </div>
    </form>
  </div>
</div>

<br>
<br>
<div class="row container-propio">
  <div class="col-3 container1">
    <form (ngSubmit)="agregarRacion()">
      <div class="form-group">
        <label for="raciones">Raciones:</label>
        <select class="form-control" id="raciones" [(ngModel)]="racion.name" name="name">
          <option selected>Seleccione</option>
          <option *ngFor="let racion1 of raciones">{{racion1.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" [(ngModel)]="racion.cant" name="cant" />
      </div>

      <div class="row container-boton">
        <div class="col-12">
          <input type="submit" class="agregar-al-plato" value="Agregar al plato">
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container2">
    <form>
      <div class="form-group">
        <label for="aderezos">Aderezos:</label>
        <select class="form-control" id="aderezos" [(ngModel)]="aderezo.name" name="name">
          <option selected>Seleccione</option>
          <option *ngFor="let aderezo1 of aderezos">{{aderezo1.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" [(ngModel)]="aderezo.cant" name="cant" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" (click)="agregarAderezo()">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container3">
    <form>
      <div class="form-group">
        <label for="bebidas">Jugos:</label>
        <select class="form-control" id="jugos-naturales" [(ngModel)]="jugo.name" name="name">
          <option selected>Seleccione</option>
          <option *ngFor="let jugo1 of jugos">{{jugo1.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" [(ngModel)]="jugo.cant" name="cant" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" (click)="agregarJugo()">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3 container4">
    <form>
      <div class="form-group">
        <label for="bebidas">Postres:</label>
        <select class="form-control" id="postres" [(ngModel)]="postre.name" name="name" >
          <option selected>Seleccione</option>
          <option *ngFor="let postre1 of postres">{{postre1.data.name}}</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" [(ngModel)]="postre.cant" name="cant"/>
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" (click)="agregarPostre()">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="container-propio1">
  <div class="col-9"></div>
  <div clas="col-3;"></div>
</div>


<div class="separador"></div>
<div class="separador"></div>

<div class="row">
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3"></div>
  <div class="col-3 center">
      <button type="button" class="btn btn-outline-dark" *ngIf="agregar === true" (click)="agregarPlato()">Agregar al pedido</button>
      <button type="button" class="btn btn-outline-dark" *ngIf="editar === true" (click)="editarPlato()">Editar plato</button>
  </div>
</div>