<br>
<br>

<div class="row box-img-plato-select">
  <div class="col-12">
    <div class="nombre">Nombre e imagen del plato seleccionado</div>
  </div>
</div>

<br>
<br>
<div class="row container-propio">
  <div class="col-3 container1">
    <form>
      <div class="form-group">
        <label for="raciones">Raciones:</label>
        <select class="form-control" id="raciones">
          <option disabled>Seleccione</option>
          <option>Yuca</option>
          <option>Papa</option>
          <option>Arepa</option>
          <option>Pan</option>
          <option>Casabe</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>

      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" href="/home/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container2">
    <form>
      <div class="form-group">
        <label for="aderezos">Aderezos:</label>
        <select class="form-control" id="aderezos">
          <option disabled>Seleccione</option>
          <option>Guasacaca</option>
          <option>Salsa de ajo</option>
          <option>Mostaza</option>
          <option>Salsa de tomate</option>
        </select>
      </div>

      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" href="/home/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3 container3">
    <form>
      <div class="form-group">
        <label for="bebidas">Jugos:</label>
        <select class="form-control" id="jugos-naturales">
          <option disabled>Seleccione</option>
          <option>Naranja</option>
          <option>Mango</option>
          <option>Guanabana</option>
          <option>Durazno</option>
          <option>Cambúr</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" href="/home/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>
  <div class="col-3 container4">
    <form>
      <div class="form-group">
        <label for="bebidas">Batidos:</label>
        <select class="form-control" id="batidos">
          <option disabled>Seleccione</option>
          <option>Cambúr</option>
          <option>Mango</option>
          <option>Guanabana</option>
          <option>Fresa</option>
          <option>Lechoza</option>
        </select>
      </div>
      <div class="form-group label">
        <label for="cantidad">Cantidad:</label>
        <br>
        <input class="input-cantidad" type="number" min="0" max="100" step="1" value="0" />
      </div>
      <div class="row container-boton">
        <div class="col-12">
          <button class="agregar-al-plato" href="/home/product-customization">
            <div>Agregar al plato</div>
          </button>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="container-propio1">
  <div class="col-9"></div>
  <div clas="col-3;"></div>
</div>


<div class="separador"></div>
<div class="separador"></div>