<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div>
    <div class="col-1"></div> 
    <div class="col-1">
        <nav class="menuDesplegable position-fixed menuDesplegableZ">
            <ul>
              <li><a href="#">Nombre del Usuario</a>
                <ul>
                  <li><a href="#">Cambio de Contraseña</a></li>
                  <li><a href="#">Compras</a></li>
                  <li><a href="#">Orden</a></li>
                  <li><a href="#">Salir</a></li>
                </ul>
              </li>
            </ul>
        </nav>
    </div>
  </div>
  <div class="row">
      <div class="col-12">
        <div class="separador"></div>
      </div>
    </div>
  <div class="row">
    <div class="col-4">
      <img src="assets/kebab-de-garbanzos.jpg" class="rounded img-fluid" alt="Kebab de Garbanzos">
    </div>
    <div class="col-4">
      <img src="assets/filetes-coliflor-lentejas.jpg" class="rounded img-fluid" alt="Filetes de Coliflor con Lentejas">
    </div>
    <div class="col-4">
      <img src="assets/berenjenas-rellenas.jpg" class="rounded img-fluid" alt="Berenjenas Rellenas">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <img src="assets/hamburguesa-de-lentejas.jpg" class="rounded img-fluid" alt="Hamburguesa de Lentejas">
    </div>
    <div class="col-6">
      <img src="assets/pizza-vegana-gluten-free.jpg" class="rounded img-fluid" alt="Pizza Vegana y Libre de Gluten">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <img src="assets/lasana-de-quinoa-vegana.jpg" class="rounded img-fluid" alt="Lasaña de Quinoa">
    </div>
    <div class="col-3">
      <img src="assets/ratatouille.jpg" class="rounded img-fluid" alt="Ratatouille">
    </div>
    <div class="col-3">
      <img src="assets/nuggets-vegetarianos.jpg" class="rounded img-fluid" alt="Nuggets Vegetarianos">
    </div>
    <div class="col-3">
      <img src="assets/ensalada-garbanzos.jpg" class="rounded img-fluid" alt="Ensalada de Garbanzos">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="assets/pudding-chocolate.jpg" class="rounded img-fluid" alt="Pudding de Chocolate">
    </div>
    <div class="col-4">
      <img src="assets/garbanzos-espinacas.jpg" class="rounded img-fluid" alt="Garbanzos con Espinacas">
    </div>
    <div class="col-4">
      <img src="assets/coliflor-sesamo.jpg" class="rounded img-fluid" alt="Coliflor con Sésamo">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
</div>
