<div *ngIf="(mostrarRegistro === true)">

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4 "></div>
    <div class="col-4 inicio-registro">
      <form (ngSubmit)="onCreateUser()">
        <div class="form-group">
          <h1 class="inicio-registro titulo-inicio-registro">Registro</h1>
          <label for="text">Nombre:</label>
          <input type="text" class="form-control required" id="nombre" placeholder="Ingrese nombre" name="firstName"
            [(ngModel)]="user.firstName" required>
        </div>
        <div class="form-group">
          <label for="text">Apellido:</label>
          <input type="text" class="form-control" id="apellido" placeholder="Ingrese apellido" name="lastName"
            [(ngModel)]="user.lastName" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email" [(ngModel)]="user.email"
            required>
        </div>
        <div class="form-group">
          <label for="pwd">Contraseña:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Ingrese contraseña" name="psw" [(ngModel)]="user.psw"
            required>
        </div>
        <input type="submit" class="btn btn-primary btn-propio-rl" value="Registrar">
        <div class="form-group" *ngIf="cuentaExistente === true">
          Ya hay un usuario con el mismo email, si posee cuenta puede iniciar sesión.
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="(mostrarLogin === true)">

  <div class="row">
    <div class="col-12">
      <div class="separador"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 inicio-sesion">
      <form (ngSubmit)="onIniciarSesion()">
        <div class="form-group">
          <h1 class="i nicio-sesion titulo-inicio-sesion">Inicio de Sesión</h1>
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Ingrese email" name="email" [(ngModel)]="user.email"
            required>
        </div>
        <div class="form-group">
          <label for="pwd">Contraseña:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Ingrese contraseña" name="psw" [(ngModel)]="user.psw"
            required>
        </div>
        <div class="form-group form-check redondeo-checkbox">
          <label class="form-check-label">
            <input class="form-check-input redondeo-checkbox" type="checkbox" name="remember"> Recuérdame
          </label>
        </div>
        <button type="submit" class="btn btn-outline active boton-inicio-sesion">Iniciar Sesión</button>
        <div class="form-group" *ngIf="cuentaInexistente === true">
          El correo que usted ha ingresado no se encuentra registrado.
        </div>
        <div class="form-group" *ngIf="claveIncorrecta === true">
          Contraseña incorrecta.
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row registro-login-propio">
  <div class="col-4 p-1"></div>
  <div class="col-4 p-1 btn-group d-inline-flex justify-content-center p-3">
    <button class="btn btn-outline active btn-propio-rl" (click)="onShowHideRegistro()">Registro</button>
    <button class="btn btn-outline active btn-propio-rl" (click)="onShowHideLogin()">Login</button>
  </div>
  <div class="col-4 p-1"></div>
</div>