<div class="row">
    <div class="col-sm-4" *ngFor="let product of products">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a routerLink="/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="/finalize-order" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>
            </div>
        </div>
    </div>
</div>