.compras-propio{
    margin-top: 2%;
    margin-left: 4%; 
    padding: 0;
    max-height: 95%;
    height: 50%;
    z-index: 0;
    position: relative;
    float: center;
    width: 94%;
}
.contenido-fila-compras{
    padding-left: 2%; 
    padding-right: 2%;
    padding-bottom: 2%;
    max-height: 95%;
    overflow: auto;
}
.contenido-fila-compras h3{
    display: flex;
    max-width: 100%;
    display: block;
}
.recomprar{
    margin-right:0;
    float: right; 
}
.btn-cerrar-compras{
    z-index: 0;
    float: right;
    position: relative;
}
