<div class="row">
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 1</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 2</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 3</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 4</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 5</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card special-card">
            <div class="card-body">
                <h5 class="card-title">Pedido 6</h5>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida1">
                        Kebab de Garbanzos
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida2">
                        Filetes de Coliflor con Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida3">
                        Berenjenas Rellenas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida4">
                        Hamburguesa de Lentejas
                    </li>
                    <li class="list-group-item">
                        <input class="col-1 elegir-comida" type="checkbox" name="comida5">
                        Ratatouille
                    </li>
                </ul>
                <br>
                <div class="row">
                    <a href="/home/product-customization" class="btn btn-outline-secondary col-3">Editar</a>
                    <a href="" class="btn btn-outline-secondary col-3">Recomprar</a>
                </div>

            </div>
        </div>
    </div>
</div>